/*****************************************************************************/
/******************************** Esercizio 1 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-1-square{
    transition: background-color 1s;
}
.col-xs-12 .well .ex-1-square:hover{
    background-color: red;
}

/*****************************************************************************/
/******************************** Esercizio 2 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-2-square{
    transition: width 1s, height 1s;
}
.col-xs-12 .well .ex-2-square:active{
    width: 200px;
    height: 200px;
}

/*****************************************************************************/
/******************************** Esercizio 3 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-3-square{
    transition: border-radius 1s;
}
.col-xs-12 .well .ex-3-square:hover{
    border-radius: 50%;
}

/*****************************************************************************/
/******************************** Esercizio 4 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-4-square{
    transition: opacity 1s;
}
.col-xs-12 .well .ex-4-square:hover{
    opacity: 0;
}

/*****************************************************************************/
/******************************** Esercizio 5 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-5-square{
    transition: width 1s, height 1s;
}
.col-xs-12 .well .ex-5-square:hover{
    width: 200px;
    height: 200px;
}
.col-xs-12 .well .ex-5-square:active{
    width: 20px;
    height: 20px;
}

/*****************************************************************************/
/******************************** Esercizio 6 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-6-img{
    transition: filter 1s;
}
.col-xs-12 .well .ex-6-img:hover{
    filter: grayscale(1);

}

/*****************************************************************************/
/******************************** Esercizio 7 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-7-img{
    transition: filter 1s;
}
.col-xs-12 .well .ex-7-img:hover{
    filter: blur(3px) grayscale(1);
}

/*****************************************************************************/
/******************************** Esercizio 8 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-8-img{
    transition: filter 2s, border-radius 1s;
}
.col-xs-12 .well .ex-8-img:hover{
    filter: hue-rotate(90deg) contrast(200%);
    border-radius: 10px;
}

/*****************************************************************************/
/******************************** Esercizio 9 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-9-img{
    transition: width 3s, filter 2s, border-radius 1s;
}
.col-xs-12 .well .ex-9-img:hover{
    filter: sepia(60%) drop-shadow(0 0 20px yellow);
    border-radius: 10px;
    width: 50%;
}

/*****************************************************************************/
/******************************** Esercizio 10 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-10-icon{
    animation: rotateIcon 1s 0.2s infinite;
}
@keyframes rotateIcon{
    100%{
        transform: rotate(360deg);
    }
}