/*****************************************************************************/
/******************************** Esercizio 1 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-1-square{
    transition: background-color 1s;
}
.col-xs-12 .well .ex-1-square:hover{
    background-color: red;
}

/*****************************************************************************/
/******************************** Esercizio 2 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-2-square{
    transition: width 1s, height 1s;
}
.col-xs-12 .well .ex-2-square:active{
    width: 200px;
    height: 200px;
}

/*****************************************************************************/
/******************************** Esercizio 3 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-3-square{
    transition: border-radius 1s;
}
.col-xs-12 .well .ex-3-square:hover{
    border-radius: 50%;
}

/*****************************************************************************/
/******************************** Esercizio 4 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-4-square{
    transition: opacity 1s;
}
.col-xs-12 .well .ex-4-square:hover{
    opacity: 0;
}

/*****************************************************************************/
/******************************** Esercizio 5 ********************************/
/*****************************************************************************/
.col-xs-12 .well .ex-5-square{
    transition: width 1s, height 1s;
}
.col-xs-12 .well .ex-5-square:hover{
    width: 200px;
    height: 200px;
}
.col-xs-12 .well .ex-5-square:active{
    width: 20px;
    height: 20px;
}